// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.cat-images {
	display: none;
}
div.tooltip-js {
	background: black;
}
.cat_img {
	margin: 0;
	padding: 0;
	height: 250px; // should be equal to tooltip line-height
	width: 100%;
	// Uncomment lines below to make dark effect animation
	// -webkit-transition: all 0.3s linear;
	// -moz-transition: all 0.3s linear;
	// -ms-transition: all 0.3s linear;
	// -o-transition: all 0.3s linear;
	// transition: all 0.3s linear;
}
.cat-img-dark {
	opacity:0.8;
}

.tooltip {
	display: none;
	position: absolute;
	font-weight: bold;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 250px; // should be equal to cat_img height
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(236, 240, 241,0.8);
	text-decoration: none;
	color: #2c3e50;
}
.tooltip:hover {
	text-decoration: none;
	color: #2c3e50;
}
