<div class="uk-text-center">
	<h1>Choose food category</h1>
</div>
<div class="cat-images" style="font-size:0;">
<% @categories.each do |category| %>
	<div class="tooltip-js" style="display:inline-block;position:relative;width:33%;">
	<%= link_to image_tag("food_categories/#{category.name.downcase}.jpg", alt: category.name, class: "cat_img"), category, class: "cat-img-link" %>
	</div>

<% end %>
</div>
