<!DOCTYPE html>
<html>
<head>
  <title>Seat Yourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav data-uk-sticky class="uk-navbar uk-navbar-attached">
  <div class="uk-width-medium-1-2 uk-container-center">
    <a href="" class="uk-navbar-brand">Seat Yourself</a>
    <div class="uk-navbar-flip">
      <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="">Home</a></li>
          <li><a href="">Profile</a></li>
          <li><a href="">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="uk-width-medium-1-2 uk-container-center">
	<%= yield %>
</div>

</body>
</html>
